.singleProductContainer {
  display: flex;
  width: 400px;
  height: 500px;
  background-color: aquamarine;
  margin: 10px;
}
.productsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: auto;
  margin-top: 5%;
}
.description {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 350px;
}
